@use 'variables' as v; // en la ruta no colocamos base/ porque están en la misma carpeta.

@mixin telefono { //mq para 480px y más arriba
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet { //mq para 480px y más arriba
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop { //mq para 480px y más arriba
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL { //mq para 480px y más arriba
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid ($columnas: 1fr, $separacion: 5rem) { // el ": 5rem" esteablece el valor por default.
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $separacion;
}