@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.lineup {
    background-color: v.$rosa;
    h3, .dia {
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        font-size: 3rem;
        text-transform: uppercase;// Texto en mayúsculas
    }
}
.escenarios-contenedor {
    @include m.contenedor; // Aplica estilos del mixins de contenedor.
    @include m.tablet { // Mixin de resolución  de tablet
        @include m.grid(2); // Crea 2 columnas con 5 rem de separación por defecto.
    }
}

.escenario {
    padding-top: 2rem;
    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}

.calendario {
    @include m.resetear-lista;

    li {
        padding: 2rem;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
}

.bg-amarillo {
    background-color: v.$amarillo;
    li:nth-child(odd) { //Los : indican pseudoclase, nth-child() selecciona por posición dentro del padre.
        background-color: color.adjust(v.$amarillo,$lightness: 10%)
    }
}
.bg-verde {
    background-color: v.$verde;
    li:nth-child(odd) { // 'odd' referencia a los impares, 'even' a los pares.
        background-color: color.adjust(v.$verde,$lightness: 10%)
    }
}