$fuente_principal : "Montserrat", sans-serif; //variable para feunte

body { // Habilitación de fuentes variables con Google Fonts
    font-family: $fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 { font-family: $fuente_principal; }
p { font-family: $fuente_principal; }
a { font-family: $fuente_principal; }